body{
font-family: Arial;
background:#111;
color:white;
text-align:center;
}

#games{
display:grid;
grid-template-columns:repeat(auto-fill,200px);
gap:20px;
justify-content:center;
margin-top:40px;
}

.game{
background:#222;
padding:10px;
border-radius:10px;
cursor:pointer;
}

.game img{
width:100%;
border-radius:8px;
}